apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: cdk8s-poc-workers-dev
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - name: hello-go
          - name: hello-java
  template:
    metadata:
      name: '{{name}}'
    spec:
      project: default
      destination:
        server: https://kubernetes.default.svc
        namespace: default
      source:
        repoURL: https://github.com/kagarlickij/cdk8s-poc.git
        targetRevision: HEAD
        path: dist/dev/{{name}}
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
